Repository nteract/nteract, pull requests merged in 2018-04, with the labels that each got.

#2750 redirect to notebook if window.open failed
  applications/jupyter-extension/nteract_on_jupyter/app/contents/index.js
Labels: app:jupyter-extension

#2759 Use codemirror to display file contents
  applications/jupyter-extension/nteract_on_jupyter/app/contents/file.js
  applications/jupyter-extension/nteract_on_jupyter/package.json
  packages/core/__tests__/epics/contents-spec.js
  packages/core/src/actionTypes.js
  packages/core/src/actions.js
  packages/core/src/epics/contents.js
  packages/core/src/reducers/core/entities/contents/file.js
  packages/core/src/reducers/core/entities/contents/index.js
Labels: app:jupyter-extension, pkg:editor

#2732 Improve the chart rendering for the tabular data payloads
  .eslintrc
  packages/transform-dataresource/package.json
  packages/transform-dataresource/src/charts.js
  packages/transform-dataresource/src/icons.js
  packages/transform-dataresource/src/index.js
  packages/transform-dataresource/src/infer.js
  packages/transform-dataresource/src/types/any.js
  packages/transform-dataresource/src/types/array.js
  packages/transform-dataresource/src/types/boolean.js
  packages/transform-dataresource/src/types/config.js
  packages/transform-dataresource/src/types/date.js
  packages/transform-dataresource/src/types/datetime.js
  packages/transform-dataresource/src/types/duration.js
  packages/transform-dataresource/src/types/error.js
  packages/transform-dataresource/src/types/geojson.js
  packages/transform-dataresource/src/types/geopoint.js
  packages/transform-dataresource/src/types/integer.js
  packages/transform-dataresource/src/types/number.js
  packages/transform-dataresource/src/types/object.js
  packages/transform-dataresource/src/types/string.js
  packages/transform-dataresource/src/types/time.js
  packages/transform-dataresource/src/types/year.js
  packages/transform-dataresource/src/types/yearmonth.js
Labels: pkg:transform-dataresource

#2795 begin some software design documentation
  doc/design/README.md
  doc/design/epics.md
  doc/design/monorepo.md
Labels: docs
