Repository nteract/nteract, pull requests merged in 2018-11, with the labels that each got.

#3466 Convert jupyter-widgets to typescript.
  package.json
  packages/jupyter-widgets/__tests__/__snapshots__/index-spec.tsx.snap
  packages/jupyter-widgets/__tests__/index-spec.tsx
  packages/jupyter-widgets/package.json
  packages/jupyter-widgets/src/index.js.flow
  packages/jupyter-widgets/src/index.tsx
  packages/jupyter-widgets/tsconfig.json
  yarn.lock
Labels: typescript-migration

#3614 Migrate MathJax to TypeScript
  applications/desktop/src/notebook/index.js
  babel.config.js
  package.json
  packages/markdown/src/index.js
  packages/mathjax/__tests__/__snapshots__/index.spec.tsx.snap
  packages/mathjax/__tests__/__snapshots__/load-script.spec.ts.snap
  packages/mathjax/__tests__/index.spec.tsx
  packages/mathjax/__tests__/load-script.spec.ts
  packages/mathjax/examples.md
  packages/mathjax/package.json
  packages/mathjax/src/context.tsx
  packages/mathjax/src/index.js
  packages/mathjax/src/index.js.flow
  packages/mathjax/src/index.tsx
  packages/mathjax/src/load-script.tsx
  packages/mathjax/src/node.tsx
  packages/mathjax/src/provider.tsx
  packages/mathjax/src/text.tsx
  packages/mathjax/tsconfig.json
  packages/notebook-preview/src/index.js
  packages/outputs/src/components/media/latex.js
  packages/transforms/src/latex.js
  yarn.lock
Labels: typescript-migration

#3637 convert fs-observable to typescript!
  applications/desktop/src/notebook/epics/config.js
  packages/fs-observable/package.json
  packages/fs-observable/src/index.js
  packages/fs-observable/src/index.js.flow
  packages/fs-observable/src/index.ts
  packages/fs-observable/tsconfig.json
  yarn.lock
Labels: typescript-migration

#3646 Fix SaveAs issue when notebook is unsaved
  applications/desktop/src/notebook/epics/saving.js
  applications/desktop/src/notebook/menu.js
Labels: app:desktop, bug

#3643 [data-explorer] Split up index into individual files in components folder
  packages/transform-dataresource/src/components/IconButton.js
  packages/transform-dataresource/src/components/Toolbar.js
  packages/transform-dataresource/src/index.js
Labels: data-explorer

#3664 Persist metadata in Data Explorer
  packages/transform-dataresource/__tests__/__snapshots__/index-spec.js.snap
  packages/transform-dataresource/__tests__/index-spec.js
  packages/transform-dataresource/src/index.js
Labels: data-explorer

#3672 Some data-explorer fixes
  packages/transform-dataresource/src/VizControls.js
  packages/transform-dataresource/src/charts/xyplot.js
  packages/transform-dataresource/src/index.js
Labels: data-explorer

#3669 Filters For Columns
  junit.xml
  packages/transform-dataresource/src/charts/grid.js
  packages/transform-dataresource/src/index.js
Labels: data-explorer
