Repository nteract/nteract, pull requests merged in 2018-10, with the labels that each got.

#3406 Add shortcut for tips to user guide and readme
  README.md
  USER_GUIDE.md
Labels: keybindings

#3411 Add menu items and shortcuts for cell actions
  USER_GUIDE.md
  applications/desktop/__tests__/renderer/menu-spec.js
  applications/desktop/src/main/menu.js
  applications/desktop/src/notebook/menu.js
  packages/core/src/actionTypes.js
  packages/core/src/actions.js
  packages/core/src/reducers/core/entities/contents/notebook.js
Labels: enhancement, hacktoberfest, keybindings

#3456 Report kernel "launching" properly - Take two.
  packages/core/__tests__/reducers/core/entities/kernels.js
  packages/core/src/reducers/core/entities/kernels.js
  packages/core/src/state/entities/kernels.js
Labels: kernel-lifecycle, kernels

#3452 [Commuter-3233] Point to nteract instead of personal copy of commuter demo
  applications/commuter/README.md
Labels: app:commuter, docs

#3468 Remove canvas dependency from vega
  README.md
  applications/desktop/webpack.common.js
  applications/jupyter-extension/nteract_on_jupyter/webpack.config.js
  package.json
  packages/transform-vega/package.json
  packages/transform-vega/src/index.js
  packages/vega-embed2/.npmrc
  packages/vega-embed2/package.json
  packages/vega-embed2/src/index.js
  packages/webpack-configurator/index.js
  packages/webpack-configurator/monorepo.js
  yarn.lock
Labels: contributor experience

#3476 Fix delete cell action
  packages/core/src/reducers/core/entities/contents/index.js
Labels: bug

#3478 Fix parallel coordinate plot and d3 import
  packages/transform-dataresource/src/ParallelCoordinatesController.js
  packages/transform-dataresource/src/charts/line.js
Labels: data-explorer

#3465 Migrate ansi-to-react to TypeScript
  .flowconfig
  applications/commuter/babel.config.js
  applications/desktop/babel.config.js
  applications/desktop/webpack.common.js
  applications/jupyter-extension/nteract_on_jupyter/babel.config.js
  applications/jupyter-extension/nteract_on_jupyter/webpack.config.js
  applications/play/babel.config.js
  babel.config.js
  babel.flow.config.js
  babel.typescript.config.js
  package.json
  packages/ansi-to-react/README.md
  packages/ansi-to-react/package.json
  packages/ansi-to-react/src/index.js
  packages/ansi-to-react/src/index.ts
  packages/ansi-to-react/tsconfig.json
  packages/core/package.json
  packages/display-area/src/output.js
  packages/gatsby-transformer-ipynb/src/__tests__/__snapshots__/on-node-create.js.snap
  packages/outputs/__tests__/__snapshots__/media-spec.js.snap
  packages/outputs/src/components/kernel-output-error.js
  packages/outputs/src/components/media/plain.js
  packages/outputs/src/components/stream-text.js
  packages/records/package.json
  packages/transforms/src/text.js
  packages/webpack-configurator/index.js
  styleguide.config.js
  tsconfig.json
  yarn.lock
Labels: typescript-migration

#3545 Convert rx-binder and rx-jupyter to typescript
  package.json
  packages/rx-binder/__tests__/index.test.ts
  packages/rx-binder/package.json
  packages/rx-binder/src/index.js
  packages/rx-binder/src/index.js.flow
  packages/rx-binder/src/index.ts
  packages/rx-binder/tsconfig.json
  packages/rx-jupyter/__tests__/contents-spec.ts
  packages/rx-jupyter/__tests__/index-spec.ts
  packages/rx-jupyter/__tests__/kernel-spec.ts
  packages/rx-jupyter/__tests__/kernelspecs-spec.ts
  packages/rx-jupyter/__tests__/sessions-spec.ts
  packages/rx-jupyter/__tests__/terminals-spec.ts
  packages/rx-jupyter/__tests__/types.ts
  packages/rx-jupyter/package.json
  packages/rx-jupyter/src/base.js
  packages/rx-jupyter/src/base.ts
  packages/rx-jupyter/src/contents.js
  packages/rx-jupyter/src/contents.ts
  packages/rx-jupyter/src/index.js
  packages/rx-jupyter/src/index.js.flow
  packages/rx-jupyter/src/index.ts
  packages/rx-jupyter/src/kernels.js
  packages/rx-jupyter/src/kernels.ts
  packages/rx-jupyter/src/kernelspecs.js
  packages/rx-jupyter/src/kernelspecs.ts
  packages/rx-jupyter/src/sessions.js
  packages/rx-jupyter/src/sessions.ts
  packages/rx-jupyter/src/terminals.js
  packages/rx-jupyter/src/terminals.ts
  packages/rx-jupyter/tsconfig.json
  packages/tsconfig.json
  yarn.lock
Labels: typescript-migration
