Repository nteract/nteract, pull requests merged in 2019-06, with the labels that each got.

#4427 Fix typo in @nteract/outputs
  packages/outputs/src/components/stream-text.tsx
Labels: bug, bug: components, bug: ui/ux, outputs, pkg:outputs

#4433 Data Explorer: Update react-table styles
  packages/data-explorer/src/css/index.tsx
Labels: data-explorer

#4434 Allow multiple output_types
  packages/outputs/__tests__/output.spec.tsx
  packages/outputs/src/components/output.md
  packages/outputs/src/components/output.tsx
Labels: pkg:outputs

#4453 Fix up editor tooltip
  packages/editor/__tests__/tooltip.spec.tsx
  packages/editor/src/components/tooltip.tsx
  packages/editor/src/index.tsx
Labels: pkg:editor
