Repository nteract/nteract, pull requests merged in 2019-05, with the labels that each got.

#4387 Use verbs Quit/Cancel in quit prompt insted of Yes/No
  applications/desktop/src/notebook/epics/close-notebook.ts
Labels: app:desktop, refine: ux

#4396 fix missing PromptBuffer in markdown cells
  packages/presentational-components/src/components/prompt.md
  packages/presentational-components/src/components/prompt.tsx
Labels: bug: ui/ux

#4390 fix(ui): hide status bar during pdf export
  applications/desktop/.gitignore
  applications/desktop/static/index.html
  packages/notebook-app-component/__tests__/__snapshots__/toolbar.spec.tsx.snap
  packages/notebook-app-component/src/cell-creator.tsx
  packages/notebook-app-component/src/status-bar.tsx
  packages/notebook-app-component/src/toolbar.tsx
  packages/presentational-components/src/components/cell.tsx
Labels: app:desktop, bug: ui/ux, workflow: needs decision

#4417 Fix styleguidist docs
  package.json
  packages/outputs/src/components/display-data.md
  packages/outputs/src/components/execute-result.md
  packages/outputs/src/components/kernel-output-error.md
  packages/outputs/src/components/kernel-output-error.tsx
  packages/outputs/src/components/media/html.md
  packages/outputs/src/components/media/html.tsx
  packages/outputs/src/components/media/javascript.md
  packages/outputs/src/components/output.md
  packages/outputs/src/components/stream-text.md
  yarn.lock
Labels: bug, docs
