Repository nteract/nteract, pull requests merged in 2019-10, with the labels that each got.

#4592 [data-explorer] Remove unused dependencies
  packages/data-explorer/package.json
  yarn.lock
Labels: data-explorer

#4593 [tests] Add NodeJS Global Types for test-shim.ts
  scripts/test-shim.ts
  types/node/index.d.ts
Labels: tests

#4594 [tests] Update ts tests for transform-model-debug package
  packages/transform-model-debug/__tests__/model-debug.test.tsx
  packages/transform-model-debug/src/index.tsx
Labels: tests

#4610 Move the spread statement so MarkdownRender.renderers can override preset value.
  packages/markdown/src/index.tsx
Labels: pkg:markdown
